::selection {
	background-color: rgb(109, 0, 100);
	color: white;
}
* {
	font-family: sans-serif;
}
*:focus {
	box-shadow: 0 1px 5px 1px rgb(127, 91, 255);
}
html {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: radial-gradient(at top left, #fff 73%, rgb(109, 0, 100) 0);
}

button {
	font-size: 1.25rem;
	width: 5rem;
	height: 2rem;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	transition: all 0.2s ease;
}
button:hover {
	background-color: rgb(109, 0, 100);
	color: white;
}

.grocery_list {
	padding: 2.5rem 0 0 10rem;
}
.header {
	font-size: 3rem;
}
.sub_header {
	font-size: 1.5rem;
}
.form_box {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.form_errors_passage {
	color: red;
	font-size: 1.25rem;
}
.input_box {
	border-radius: 3px;
	line-height: 1.5;
	border: 1px solid black;
	font-size: 1.25rem;
	margin-right: 3rem;
	transition: 0.2s all ease;
}
.input_box:last-of-type {
	width: 10rem;
}
.list_display {
	list-style-type: none;
}
.list_display_box {
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
}
.list_display_checkbox {
	accent-color: rgb(109, 0, 100);
	height: 1.25rem;
	width: 1.25rem;
}
.list_display_checkbox:checked ~ .list_display_items {
	text-decoration: line-through;
	color: rgb(170, 170, 170);
}
.list_display_items {
	width: 15rem;
	margin: 0 2rem 0 2rem;
}
.list_display_items:first-of-type {
	width: 25rem;
}
.list_display_delete {
}
